
<!--- Creer lien des voyages --->
<section class="hero">
  <h1>TRAVEL WITH US</h1>

</section>

<center>
<!--- Section Cards --->

<section class="benefits">
  <header class="benefits-head">
      <h2>Travel beyond stars</h2>
      <h2>Book your perfect travel</h2>
  <h3>We cover everything from departure to arrival to your new planet.</h3>
  </header>


<!--- Partie Cards --->


<p>You can now travel anywhere in the cosmos. How about to look at our destinations below and book your travel. <br>
         You can't get your own quarter and privacy with your own EcoGarden and facilities. Only few planets left. Don't wait.
      </p>

  <div class="cards">

<!--- Block Cards x 3 --->
 <% @voyages.each do |voyage| %>
      <%= link_to voyage_path(voyage) do  %>
       <div class="card-deck">
         <div class="card">
           <%= cl_image_tag voyage.photo.key, height: 400, width: 500, crop: :fill %>
            <div class="card-body">
                <h5 class="card-title"><%= voyage.destination %></h5>
                <p class="card-text"><%= voyage.year %></p>
                <p class="card-text"><small class="text-muted"><%= voyage.price %></small></p>
              </div>
              </div>
       </div>
    <% end %>
  <% end %>
<!--- Fin Block Cards x 3 --->



</section>
<!--- Fin Cards --->


    <!--- Text paragraph
    <div class="voyages">
      --->
       <p>You can now travel anywhere in the cosmos. How about to look at our destinations below and book your travel. <br>
        <br>
         You can't get your own quarter and privacy with your own EcoGarden and facilities. Only few planets left. Don't wait.
      </p>
    </div>



    <!--- Chargement page alert sign --->



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


     <!--- Chargement page --->

    <%= yield %>
   </body>
</html>

</center>
