
<!--- Creer lien des voyages --->
<section class="hero">
  <h1>FLY TO SPACE</h1>
  <br>
  <br>
  <h4>Book your perfect trip</h4>

</section>

<!--- Section Cards --->

<section class="benefits">
  <header class="benefits-head">

      <h2>Travel beyond stars</h2>
      <br>
  <h3>We cover everything from departure to arrival to your new planet.</h3>
   <h3>You can now travel anywhere in the cosmos. Yes we know, it's insane to think about it. We know that.
   <br> How about to look at our destinations below and book your travel. <br>

         You can't get your own quarter and privacy with your own EcoGarden and facilities. Only few planets left. <br>
         <br>
          Don't wait.
      </h3>

  </header>
</section>

<!--- Partie Cards --->
  <div class="cards">

<!--- Block Cards x 3 --->
  <% @voyages.each do |voyage| %>
      <div class="card-deck">
        <div class="card">
          <%= link_to voyage_path(voyage) do  %>
            <%= cl_image_tag voyage.photo.key, height: 400, width: 500, crop: :fill %>
            <div class="card-body">
                <h5 class="card-title"><%= voyage.destination %></h5>
                <p class="card-text"><%= voyage.description %></p>
                <p class="card-text"><%= voyage.year %></p>
                <p class="card-text"><small class="text-muted"><%= voyage.price %></small></p>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
<!--- Fin Block Cards x 3 --->
  </div>
<!--- Fin Cards --->
<br>

<center>
 <footer>
  <p>Contact us</p>
  <p><a href="mailto:hege@example.com">support@flytospace.com</a></p>
</footer>
</center>

    <!--- Text paragraph
    <div class="voyages">
      --->


