
<!--- Creer lien des voyages --->

<h1>Welcome to Fly to Space</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Gliese_667_Cc_sunset.jpg/1920px-Gliese_667_Cc_sunset.jpg"
    alt="space" class="rounded w-100" height="800" width="1440">

<div>
  <h1>Welcome to Fly to Space</h1>


</div>

<div>
   <!--- Link to voyages  --->
</div>

  <!--- New page  --->


  <!--- div planet --->


  <!--- Photo Home



<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Gliese_667_Cc_sunset.jpg/1920px-Gliese_667_Cc_sunset.jpg" alt="space" class="rounded w-100" height="800" width="1440">
 --->
    <!--- Carousel  --->


    <div class="container py-3">


    <!--- Text paragraph  --->
    <div class="voyages">

       <p>You can now travel anywhere in the cosmos. How about to look at our destinations below and book your travel. <br>
         You can't get your own quarter and privacy with your own EcoGarden and facilities. Only few planets left. Don't wait.
      </p>
    </div>


    <% @voyages.each do |voyage| %>
      <%= link_to voyage_path(voyage) do  %>
       <div class="card-deck">
         <div class="card">
          <%= cl_image_tag voyage.photo.key, height: 300, width: 300, crop: :fill %>
            <div class="card-body">
                <h5 class="card-title"><%= voyage.destination %></h5>
                <p class="card-text"><%= voyage.year %></p>
                <p class="card-text"><small class="text-muted"><%= voyage.price %></small></p>
          </div>
       </div>



    <% end %>
  <% end %>






       <!--- Mosaique voyages/layout --->

          <!--- Grille bootstrap  --->


<!--- Dur a supprimer  --->



<!--- Dur a supprimer --->

      <!-- <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/586056/pexels-photo-586056.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.pexels.com/photos/586056/pexels-photo-586056.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

      <br>
       --->

        <!--- Partie 2   --->
<!--
         <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>

    </div>

    --->






    <!--- Chargement page alert sign --->

    <section class="container">
      <div id="flash">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


     <!--- Chargement page --->

    <%= yield %>
   </body>
</html>


