

<h1>Voyages New</h1>

<div class="container" >
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1>Create a new voyage</h1>
      <br>
      <%= form_for(@voyage) do |f| %>
      <%= f.label :destination %>
      <%= f.text_field :destination %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :year %>
      <%= f.number_field :year %>
      <%= f.label :price %>
      <%= f.number_field :price %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

