

<div class="title-container">
<br>
<h2><%= @voyage.destination %></h2>

</div>


<center>





<div class="card" style="width: 58rem;">
 <%= cl_image_tag @voyage.photo.key, height: 600, width: 900, crop: :fill %>
  <div class="card-body">


    <strong><p><%= @voyage.price %>M€</strong></p>
    <p><%= @voyage.year %></p>
    <p><%= @voyage.description %></p>

    <p> Agence : <%= @voyage.user_id %></p>
    
   <%= link_to "Réserver", new_voyage_reservation_path(@voyage), class: "btn btn-primary"%>

  </div>
</div>

<br>


<%= link_to "back to list", root_path %>

</center>
</div>



