<h2><%= @voyage.destination %></h2>
<p><%= @voyage.description %></p>
<p><%= @voyage.year %></p>
<p><%= @voyage.price %></p>
<%= link_to "Delete", voyage_path(@voyage), method: :delete %>
<%= link_to "back to list", root_path %>
