
<div class="title-container">
  <h1>Mes réservations</h1>

</div>

<center>





  <br>

<% @reservations.each do |reservation| %>
<div class="col-12 col-md-8 col-lg-10">
    <div class="card">
        <div class="card-description">
            <p><%= reservation.voyage.destination %></p>
            <p><%= reservation.voyage.year %></p>
           <p><%= reservation.voyage.price %>M€</p>
           <p><%= reservation.statut %></p>
        </div>
    </div>
    <%= link_to "Delete", reservation_path(reservation), method: :delete %>
</div>
<%end%>

<br>


<br>
<%= link_to "back to list", root_path %>


</center>
